.mainFilters {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  align-items: flex-start;
}

@media (max-width: 900px) {
  .mainFilters {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 540px) {
  .mainFilters {
    flex-direction: column;
    margin-top: 16px;
    align-items: center;
  }
}
