.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 60px;
  background-color: var(--yellow);
}

.headerWrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-width: var(--max-width);
  width: 80vw;
  max-width: 1024px;
}

.logoWrapper {
  display: flex;
  align-items: center;
  margin-right: 16px;
}
