.inputWrapper {
  position: relative;
  max-height: 40px;
  height: 100%;
  width: 100%;
  max-width: var(--max-width);
  background-color: var(--white);
  margin: 8px 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.searchInput {
  height: 40px;
  width: 100%;
  background-color: var(--white);
  border: none;
  border-radius: 2px;
  font-size: 16px;
  padding: 10px 60px 10px 15px;
  color: var(--text);
}

.searchInput:focus {
  outline-color: #3483fa;
  outline-width: 1.5px;
  outline-style: solid;
}
